<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombiedie_ice/bingkuai_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,119}</string>
                <key>spriteSourceSize</key>
                <string>{96,119}</string>
                <key>textureRect</key>
                <string>{{0,0},{96,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/bingkuai_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,119}</string>
                <key>spriteSourceSize</key>
                <string>{96,119}</string>
                <key>textureRect</key>
                <string>{{96,0},{96,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/bingkuai_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,119}</string>
                <key>spriteSourceSize</key>
                <string>{96,119}</string>
                <key>textureRect</key>
                <string>{{192,0},{96,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/bingkuai_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,119}</string>
                <key>spriteSourceSize</key>
                <string>{96,119}</string>
                <key>textureRect</key>
                <string>{{288,0},{96,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/bingkuai_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,119}</string>
                <key>spriteSourceSize</key>
                <string>{96,119}</string>
                <key>textureRect</key>
                <string>{{384,0},{96,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/bingkuai_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,119}</string>
                <key>spriteSourceSize</key>
                <string>{96,119}</string>
                <key>textureRect</key>
                <string>{{0,119},{96,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/bingkuai_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,119}</string>
                <key>spriteSourceSize</key>
                <string>{96,119}</string>
                <key>textureRect</key>
                <string>{{96,119},{96,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/bingkuai_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,119}</string>
                <key>spriteSourceSize</key>
                <string>{96,119}</string>
                <key>textureRect</key>
                <string>{{192,119},{96,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/bingkuai_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,119}</string>
                <key>spriteSourceSize</key>
                <string>{96,119}</string>
                <key>textureRect</key>
                <string>{{288,119},{96,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/bingkuai_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,119}</string>
                <key>spriteSourceSize</key>
                <string>{96,119}</string>
                <key>textureRect</key>
                <string>{{384,119},{96,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/bingkuai_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,119}</string>
                <key>spriteSourceSize</key>
                <string>{96,119}</string>
                <key>textureRect</key>
                <string>{{0,238},{96,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/bingkuai_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,119}</string>
                <key>spriteSourceSize</key>
                <string>{96,119}</string>
                <key>textureRect</key>
                <string>{{96,238},{96,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/bingkuai_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,119}</string>
                <key>spriteSourceSize</key>
                <string>{96,119}</string>
                <key>textureRect</key>
                <string>{{192,238},{96,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/bingkuai_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,119}</string>
                <key>spriteSourceSize</key>
                <string>{96,119}</string>
                <key>textureRect</key>
                <string>{{288,238},{96,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/bingkuai_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,119}</string>
                <key>spriteSourceSize</key>
                <string>{96,119}</string>
                <key>textureRect</key>
                <string>{{384,238},{96,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/bingkuai_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,119}</string>
                <key>spriteSourceSize</key>
                <string>{96,119}</string>
                <key>textureRect</key>
                <string>{{0,357},{96,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/bingkuai_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,119}</string>
                <key>spriteSourceSize</key>
                <string>{96,119}</string>
                <key>textureRect</key>
                <string>{{96,357},{96,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/bingkuai_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,119}</string>
                <key>spriteSourceSize</key>
                <string>{96,119}</string>
                <key>textureRect</key>
                <string>{{192,357},{96,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/bingkuai_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,119}</string>
                <key>spriteSourceSize</key>
                <string>{96,119}</string>
                <key>textureRect</key>
                <string>{{288,357},{96,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/bingkuai_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,119}</string>
                <key>spriteSourceSize</key>
                <string>{96,119}</string>
                <key>textureRect</key>
                <string>{{384,357},{96,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/bingkuai_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,119}</string>
                <key>spriteSourceSize</key>
                <string>{96,119}</string>
                <key>textureRect</key>
                <string>{{0,476},{96,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/bingkuai_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,119}</string>
                <key>spriteSourceSize</key>
                <string>{96,119}</string>
                <key>textureRect</key>
                <string>{{96,476},{96,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/bingkuai_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,119}</string>
                <key>spriteSourceSize</key>
                <string>{96,119}</string>
                <key>textureRect</key>
                <string>{{192,476},{96,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/bingkuai_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,119}</string>
                <key>spriteSourceSize</key>
                <string>{96,119}</string>
                <key>textureRect</key>
                <string>{{288,476},{96,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/bingkuai_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,119}</string>
                <key>spriteSourceSize</key>
                <string>{96,119}</string>
                <key>textureRect</key>
                <string>{{384,476},{96,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/die_ice_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,167}</string>
                <key>spriteSourceSize</key>
                <string>{145,167}</string>
                <key>textureRect</key>
                <string>{{0,595},{145,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/die_ice_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,167}</string>
                <key>spriteSourceSize</key>
                <string>{145,167}</string>
                <key>textureRect</key>
                <string>{{145,595},{145,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/die_ice_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,167}</string>
                <key>spriteSourceSize</key>
                <string>{145,167}</string>
                <key>textureRect</key>
                <string>{{290,595},{145,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/die_ice_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,167}</string>
                <key>spriteSourceSize</key>
                <string>{145,167}</string>
                <key>textureRect</key>
                <string>{{0,762},{145,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/die_ice_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,167}</string>
                <key>spriteSourceSize</key>
                <string>{145,167}</string>
                <key>textureRect</key>
                <string>{{145,762},{145,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/die_ice_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,167}</string>
                <key>spriteSourceSize</key>
                <string>{145,167}</string>
                <key>textureRect</key>
                <string>{{290,762},{145,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/die_ice_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,167}</string>
                <key>spriteSourceSize</key>
                <string>{145,167}</string>
                <key>textureRect</key>
                <string>{{0,929},{145,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/die_ice_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,167}</string>
                <key>spriteSourceSize</key>
                <string>{145,167}</string>
                <key>textureRect</key>
                <string>{{145,929},{145,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/die_ice_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,167}</string>
                <key>spriteSourceSize</key>
                <string>{145,167}</string>
                <key>textureRect</key>
                <string>{{290,929},{145,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/die_ice_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,167}</string>
                <key>spriteSourceSize</key>
                <string>{145,167}</string>
                <key>textureRect</key>
                <string>{{0,1096},{145,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/die_ice_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,167}</string>
                <key>spriteSourceSize</key>
                <string>{145,167}</string>
                <key>textureRect</key>
                <string>{{145,1096},{145,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/die_ice_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,167}</string>
                <key>spriteSourceSize</key>
                <string>{145,167}</string>
                <key>textureRect</key>
                <string>{{290,1096},{145,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/die_ice_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,167}</string>
                <key>spriteSourceSize</key>
                <string>{145,167}</string>
                <key>textureRect</key>
                <string>{{0,1263},{145,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/die_ice_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,167}</string>
                <key>spriteSourceSize</key>
                <string>{145,167}</string>
                <key>textureRect</key>
                <string>{{145,1263},{145,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/die_ice_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,167}</string>
                <key>spriteSourceSize</key>
                <string>{145,167}</string>
                <key>textureRect</key>
                <string>{{290,1263},{145,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/die_ice_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,167}</string>
                <key>spriteSourceSize</key>
                <string>{145,167}</string>
                <key>textureRect</key>
                <string>{{0,1430},{145,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/die_ice_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,167}</string>
                <key>spriteSourceSize</key>
                <string>{145,167}</string>
                <key>textureRect</key>
                <string>{{145,1430},{145,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/die_ice_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,167}</string>
                <key>spriteSourceSize</key>
                <string>{145,167}</string>
                <key>textureRect</key>
                <string>{{290,1430},{145,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/die_ice_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,167}</string>
                <key>spriteSourceSize</key>
                <string>{145,167}</string>
                <key>textureRect</key>
                <string>{{0,1597},{145,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/die_ice_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,167}</string>
                <key>spriteSourceSize</key>
                <string>{145,167}</string>
                <key>textureRect</key>
                <string>{{145,1597},{145,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/flash23_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,52}</string>
                <key>textureRect</key>
                <string>{{290,1597},{32,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/flash23_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,52}</string>
                <key>textureRect</key>
                <string>{{128,1764},{32,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/flash23_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,52}</string>
                <key>textureRect</key>
                <string>{{160,1764},{32,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/flash23_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,52}</string>
                <key>textureRect</key>
                <string>{{322,1597},{32,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/flash23_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,52}</string>
                <key>textureRect</key>
                <string>{{354,1597},{32,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/flash23_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,52}</string>
                <key>textureRect</key>
                <string>{{386,1597},{32,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/flash23_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,52}</string>
                <key>textureRect</key>
                <string>{{418,1597},{32,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/flash23_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,52}</string>
                <key>textureRect</key>
                <string>{{0,1764},{32,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/flash23_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,52}</string>
                <key>textureRect</key>
                <string>{{32,1764},{32,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/flash23_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,52}</string>
                <key>textureRect</key>
                <string>{{64,1764},{32,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombiedie_ice/flash23_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,52}</string>
                <key>textureRect</key>
                <string>{{96,1764},{32,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ice.png</string>
            <key>size</key>
            <string>{480,1816}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f65cc749578c205945aeb07940eb6610:7736cb530cbd9a88af30fb10e2bb463c:cff808ca0f70b591245cfda0ce34c370$</string>
            <key>textureFileName</key>
            <string>ice.png</string>
        </dict>
    </dict>
</plist>
