<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombie_all/zombie_all_1/zombie01/die/die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,92}</string>
                <key>spriteSourceSize</key>
                <string>{71,92}</string>
                <key>textureRect</key>
                <string>{{64,335},{71,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie01/die/die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,92}</string>
                <key>spriteSourceSize</key>
                <string>{71,92}</string>
                <key>textureRect</key>
                <string>{{135,335},{71,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie01/die/die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,92}</string>
                <key>spriteSourceSize</key>
                <string>{71,92}</string>
                <key>textureRect</key>
                <string>{{206,335},{71,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie01/die/die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,92}</string>
                <key>spriteSourceSize</key>
                <string>{71,92}</string>
                <key>textureRect</key>
                <string>{{277,335},{71,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie01/die/die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,92}</string>
                <key>spriteSourceSize</key>
                <string>{71,92}</string>
                <key>textureRect</key>
                <string>{{348,335},{71,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie01/die/die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,92}</string>
                <key>spriteSourceSize</key>
                <string>{71,92}</string>
                <key>textureRect</key>
                <string>{{419,335},{71,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie01/die/die_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,92}</string>
                <key>spriteSourceSize</key>
                <string>{71,92}</string>
                <key>textureRect</key>
                <string>{{0,427},{71,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie01/die/die_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,92}</string>
                <key>spriteSourceSize</key>
                <string>{71,92}</string>
                <key>textureRect</key>
                <string>{{71,427},{71,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie01/die/die_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,92}</string>
                <key>spriteSourceSize</key>
                <string>{71,92}</string>
                <key>textureRect</key>
                <string>{{142,427},{71,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie01/die/die_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,92}</string>
                <key>spriteSourceSize</key>
                <string>{71,92}</string>
                <key>textureRect</key>
                <string>{{213,427},{71,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie01/die/die_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,92}</string>
                <key>spriteSourceSize</key>
                <string>{71,92}</string>
                <key>textureRect</key>
                <string>{{284,427},{71,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie01/die/die_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,92}</string>
                <key>spriteSourceSize</key>
                <string>{71,92}</string>
                <key>textureRect</key>
                <string>{{355,427},{71,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie01/die/die_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,92}</string>
                <key>spriteSourceSize</key>
                <string>{71,92}</string>
                <key>textureRect</key>
                <string>{{426,427},{71,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/atk/zombie02_2-atk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/atk/zombie02_2-atk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{64,0},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/atk/zombie02_2-atk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{128,0},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/atk/zombie02_2-atk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{192,0},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/atk/zombie02_2-atk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{256,0},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/atk/zombie02_2-atk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{320,0},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/die02/newcolor02_die02_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,80}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{0,519},{94,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/die02/newcolor02_die02_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,80}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{94,519},{94,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/die02/newcolor02_die02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,80}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{188,519},{94,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/die02/newcolor02_die02_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,80}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{282,519},{94,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/die02/newcolor02_die02_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,80}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{376,519},{94,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/die02/newcolor02_die02_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,80}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{0,599},{94,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/die02/newcolor02_die02_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,80}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{94,599},{94,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/die02/newcolor02_die02_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,80}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{188,599},{94,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/die02/newcolor02_die02_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,80}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{282,599},{94,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/die02/newcolor02_die02_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,80}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{376,599},{94,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/die02/newcolor02_die02_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,80}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{0,679},{94,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/die02/newcolor02_die02_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,80}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{94,679},{94,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/die02/newcolor02_die02_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,80}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{188,679},{94,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/die02/newcolor02_die02_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,80}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{282,679},{94,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/die02/newcolor02_die02_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,80}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{376,679},{94,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/die02/newcolor02_die02_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,80}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{0,759},{94,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/die02/newcolor02_die02_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,80}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{94,759},{94,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/die02/newcolor02_die02_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,80}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{188,759},{94,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/hit/zombie02_2-hit_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{384,0},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/hit/zombie02_2-hit_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{448,0},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/hit/zombie02_2-hit_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{0,67},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/hit/zombie02_2-hit_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{64,67},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/hit/zombie02_2-hit_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{128,67},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/idle/zombie02_2-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{192,67},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/idle/zombie02_2-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{256,67},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/idle/zombie02_2-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{320,67},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/idle/zombie02_2-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{384,67},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/idle/zombie02_2-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{448,67},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/idle/zombie02_2-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{0,134},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/idle/zombie02_2-idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{64,134},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/idle/zombie02_2-idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{128,134},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/idle/zombie02_2-idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{192,134},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/idle/zombie02_2-idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{256,134},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/move/zombie02_2-move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{320,134},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/move/zombie02_2-move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{384,134},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/move/zombie02_2-move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{448,134},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/move/zombie02_2-move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{0,201},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/move/zombie02_2-move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{64,201},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/move/zombie02_2-move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{128,201},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/move/zombie02_2-move_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{192,201},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/move/zombie02_2-move_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{256,201},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/move/zombie02_2-move_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{320,201},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/move/zombie02_2-move_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{384,201},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/move/zombie02_2-move_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{448,201},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/move/zombie02_2-move_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{0,268},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/move/zombie02_2-move_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{64,268},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/move/zombie02_2-move_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{128,268},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/move/zombie02_2-move_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{192,268},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/move/zombie02_2-move_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{256,268},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/move/zombie02_2-move_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{320,268},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/move/zombie02_2-move_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{384,268},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/move/zombie02_2-move_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{448,268},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_all/zombie_all_1/zombie02_2/move/zombie02_2-move_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{0,335},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zombieAltas.png</string>
            <key>size</key>
            <string>{512,839}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2d4ad99044b87c8d95c12028047a3c6:ee1941877009d17c2d6f63325ba495ce:5ab59c8ca9c063cad876d18bd4fa127c$</string>
            <key>textureFileName</key>
            <string>zombieAltas.png</string>
        </dict>
    </dict>
</plist>
